/*Fonte Roboto Mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*Reset CSS*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
}



/*Navbar*/
#m-nav{
    background-color: #969ba2;
}

#m-btn-nav-img{
    width: 20px;
    height: 20px;
}

#m-btn-nav{
    background-color: #A5BEFA; 
    border-color: #0074b4; 
    color: #0074b4;
}

#m-btn-nav:hover{
    color: #969ba2;
    background-color: #E2E1E1;
    border-color: #969ba2;
}

/*Cards*/
.m-planos-prod{
    height: 80vh;
}

.card-title{
    text-align: center;

}

.card-price{
    text-align: center;
    font-weight: normal;
}

.card-text{
    text-align: center;

}

.m-card-plano{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    max-width: 20rem;
    transition: all 0.3s ease-out;
    border-top: 4px solid #0074b4;
}

.m-card-plano:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

.cor-botao{
    display: flex;
    color: white;
    background-color: #0074b4;
    justify-content: center;
}

.card-posicao-imagem{
    object-fit:contain;
    height: 200px;
}


/*  footer | Vicky */

#m-footer-copyright-p{
    margin-bottom: 0;
}

#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer{
    color: rgb(0, 0, 0);
    font-weight: normal;
    background: rgba(226, 225, 225, 0.678);
}
/* INSERIR MOD LOGO */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização de textos | Vicky */
#footer h5{
 font-family: 'Mulish', sans-serif;
 font-size: 1.25rem;
 margin-top: 1rem;
 margin-bottom: 0;
    
}

#footer a{
    color: rgb(0, 0, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    text-decoration: none;
}

.social h3{
    margin-top: 1rem;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}

.footer-copyright p{
    color: white;
    font-family: 'Mulish', sans-serif;
}

/*  Estilização listas | Vicky */
#footer ul{
    list-style-type: none;
    padding-left: 0;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Tamanho dos icons | Vicky */

.social img{
    height: 2rem;
}

/*  Estilização copyright | Vicky */
.footer-copyright{
    background: rgb(56,57,57);
    background: radial-gradient(circle, rgba(56,57,57,1) 0%, rgba(0,0,0,1) 100%);
    text-align: center;
    justify-content: center;
}

/*Página do Produto*/

#titulo-subtitulo{
    font-family: 'Roboto Mono', monospace;
    padding-top: 100px;
    font-weight: bolder;
    color: #0074b4;
    text-align: center;
}


.m-jumbo{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 20px;
    height: 100vh;
    
}

.m-planos-prod{
    height: 100vh;
}



.m-title-pgprod{
    font-weight: bolder;
    color: #0074b4;
}

.m-jumbo-logo{
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}

.m-text-inicial-produto{
    padding-right: 100px;
}

.m-img-inicial-pgproduto-container{
    padding-left: 100px;
}

/*Login*/
.m-logo-login{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

#botao-email{
    width: 100%;
}

.m-container-form{
    height: 55%;
    width: 28%;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 10px;
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .logo{
        padding-top: 10px;
    }
    
    .rede-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    footer div div a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .m-container-form{
        height: 60%;
        width: 80%;
        background-color: white;
    }
    
    .m-text-inicial-produto{
        padding-right: 0px;
    }
    
    .m-img-inicial-pgproduto-container{
        padding-left: 0px;
    }
    
    .m-planos-prod{
        height: 80vh;
        padding-top: 40px;
    }
    
    .m-prod-container-principal{
        height: 320vh;
        background-color: white;
    }

    #titulo-subtitulo{
        padding-top: 20px;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo{
        padding-top: 10px;
    }
    
    .rede-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    footer div div a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .m-container-form{
        height: 60%;
        width: 80%;
        background-color: white;
    }
    
    .m-text-inicial-produto{
        padding-right: 0px;
    }
    
    .m-img-inicial-pgproduto-container{
        padding-left: 0px;
    }
    
    .m-planos-prod{
        height: 80vh;
        padding-top: 10px;
    }
    
    .m-prod-container-principal{
        height: 400vh;
        background-color: white;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .m-prod-container-principal{
        height: 320vh;
        background-color: white;
    }

    .m-card-plano{
        max-height: 30rem;
    }

    #titulo-subtitulo{
        padding-top: 0px;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .m-prod-container-principal{
        height: 310vh;
        background-color: white;
    }

    .m-card-plano{
        max-height: 30rem;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .m-card-plano{
        max-height: 30rem;
    }

    .m-prod-container-principal{
        height: 230vh;
        background-color: white;
    }

    #titulo-subtitulo{
        padding-top: 0px;
    }
}