#content{
    height: 100%;

}


/*  footer | Vicky */

#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#footer{
    color: rgb(0, 0, 0);
    font-weight: normal;
    background: rgba(226, 225, 225, 0.678);
}
/* INSERIR MOD LOGO */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização de textos | Vicky */
#footer h5{
 font-family: 'Mulish', sans-serif;
 font-size: 1.25rem;
 margin-top: 1rem;
 margin-bottom: 0;
    
}

#footer a{
    color: rgb(0, 0, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    text-decoration: none;
}

.social h3{
    margin-top: 1rem;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}

.footer-copyright p{
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*  Estilização listas | Vicky */
#footer ul{
    list-style-type: none;
    padding-left: 0;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Tamanho dos icons | Vicky */

.social img{
    height: 2rem;
}

/*  Estilização copyright | Vicky */
.footer-copyright{
    background: rgb(56,57,57);
    background: radial-gradient(circle, rgba(56,57,57,1) 0%, rgba(0,0,0,1) 100%);
    text-align: center;
    justify-content: center;
}



html{
    height: 100%;

}

body{
 display: flex;
 flex-direction: column;
 height: 100%;
 margin: 0;
 padding: 0;

}