/* alterações do título "conheça nossa equipe" */

.v-titulo{
    display: flex;
    background-color: rgba(222, 221, 221, 0.808);
    font-family: 'Mulish', sans-serif;
    font-size: 3rem;
    width: 100%;
    height: 13rem;
    margin-left: 2rem ;
    
    }
    
    /*  container p/ cards */
    .v-container-contato{
        display: flex;
        width: 100vw;
        height: 40rem;
        justify-content: space-around;
        text-align: center;
        font-family: 'Mulish', sans-serif;
    
    }
    
    /* config individual imagens/contato */
    
    #v-primeiro-icon{
        display: flex;
        border-radius: 100%;
        overflow: hidden;
        height: 20rem;
        width: 20rem;
        margin-top: 5rem;
    }
    
    #v-segundo-icon{
        display: flex;
        border-radius: 100%;
        overflow: hidden;
        height: 20rem;
        width: 20rem;
        margin-top: 5rem;
    }
    
    #v-terceiro-icon{
        display: flex;
        border-radius: 100%;
        overflow: hidden;
        height: 20rem;
        width: 20rem;
        margin-top: 5rem;
    }
    
    #v-quarto-icon{
        display: flex;
        border-radius: 100%;
        overflow: hidden;
        height: 20rem;
        width: 20rem;
        margin-top: 5rem;
    }
    
    
    
    /* formulario personalizado c/ efeito linha unica */
    
    form{
        width: 100%;
        max-width: 350px;
    }
    
    div.single-input{
        width: 100%;
        margin:30px 0;
        position: relative;
    }
    
    div.single-input label{
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        position: absolute;
        left: 0;
        bottom: 5px;
        color:grey;
        cursor: text;
        transition: 0.5s ease-in-out;
    }
    
    div.single-input .input{
        width: 100%;
        padding: 5px;
        color: rgb(150, 150,150);
        border:0;
        border-bottom: 2px solid grey;
        outline: 0;
    }
    
    .single-input .input:focus,
    .single-input .input:valid{
        font-family: 'Mulish', sans-serif;
        border-bottom: 2px solid cornflowerblue;
    
    }
    
    .single-input .input:focus ~ label,
    .single-input .input:valid ~ label{
        font-family: 'Mulish', sans-serif;
        transform: translateY(-24px);
        font-size: 15px;
        color: cornflowerblue;
    }
    
    /* finalização config formulario personalizado */

    /* outras configs form */
    
    input, textarea {
        font-family: 'Mulish', sans-serif;
        width: 95%;
        padding: 10px;
        margin-right: 1em;
        font: 1em;
        border: 1px solid black;
    
    }

    /* container englobando todo form */

    .v-form-container{
        display: flex;
        justify-content: center;
        height: 25rem;
        gap: 20rem;
    
    }

    /* container englobando o titulo, label e input */
    
    .v-input-container{
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    /* div do h1  */
    
    .v-form-text{
        font-family: 'Mulish', sans-serif;

    }

    /* div da msg */

    .v-form-mensagem{
        display: flex;
        flex-direction: column;
        width: 30rem;
        margin-top: 1rem;
    }
    
    #v-text-label{
        font-family: 'Mulish', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }
    
    /*  configs botão */

    #v-btn-msg{
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        height: 3rem;
    }
    
    /*  footer | Vicky */
    
    #footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    
    #footer{
        color: rgb(0, 0, 0);
        font-weight: normal;
        background: rgba(226, 225, 225, 0.678);
    }
    /* INSERIR MOD LOGO */
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Estilização de textos | Vicky */
    #footer h5{
     font-family: 'Mulish', sans-serif;
     font-size: 1.25rem;
     margin-top: 1rem;
     margin-bottom: 0;
        
    }
    
    #footer a{
        color: rgb(0, 0, 0);
        font-family: 'Mulish', sans-serif;
        font-size: 19px;
        text-decoration: none;
    }
    
    .social h3{
        margin-top: 1rem;
        font-family: 'Mulish', sans-serif;
        font-size: 1rem;
    }
    
    .footer-copyright p{
        color: white;
        font-family: 'Mulish', sans-serif;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    /*  Estilização listas | Vicky */
    #footer ul{
        list-style-type: none;
        padding-left: 0;
    }
    
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /*  Tamanho dos icons | Vicky */
    
    .social img{
        height: 2rem;
    }
    
    /*  Estilização copyright | Vicky */
    .footer-copyright{
        background: rgb(56,57,57);
        background: radial-gradient(circle, rgba(56,57,57,1) 0%, rgba(0,0,0,1) 100%);
        text-align: center;
        justify-content: center;
    }
    

    body{
     display: flex;
     flex-direction: column;
     height: 100%;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
    
    }